hidden=[".config"]
modules = ["nodejs-20", "web"]
run = "npx serve . -l 0.0.0.0:3000"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python -m http.server 3000 --bind 0.0.0.0"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Run"
author = 40330681

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -l 0.0.0.0:3000"

[[workflows.workflow]]
name = "Web Server"
author = 40330681

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8080 --bind 0.0.0.0"
